@model MyCinemaV2.Models.MovieModel
@{
	ViewData["Title"] = @Model.Name;
}
<div class="text-center">
	<h1 class="display-4">@Model.Name</h1>
</div>
<hr>
<div class="details-container box-shadow border-bottom border-right">
	<div class="details-item">
		<img class="border" src="@Model.Thumbnail">
		<div class="info-container">
			<div class="text-box">
				<div style="display: flex; justify-content: space-between;">
					<div>
						<strong>Жанр: </strong>
						<span>@Model.Genre;</span>
					</div>
					<a asp-action="Seat" asp-route-movieId="@Model.Id" asp-route-sessionId="@ViewBag.Seat.Session_Id">
						<input type="button" class="button" value="ВЕРНУТЬСЯ НАЗАД">
					</a>
				</div>
				<strong>Продолжительность: </strong>
				<span>@Model.Duration</span>
				<br>
				<br>
				<strong>Описание: </strong>
				<p>@Model.Description</p>
			</div>
			<div class="scheme-container box-shadow border-bottom border-right">
				<h2 class="border-bottom">Ваш билет</h2>
				<div class="ticket-container">
					@if (ViewBag.Seat != null)
					{
						<img src="https://chart.googleapis.com/chart?chs=145x145&cht=qr&chl=@Model.Id@ViewBag.Seat.Id" style="margin: 1rem;">
					}
					else
					{
						<h3 class="display-4">NO TICKET</h3>
					}
				</div>
			</div>
		</div>
	</div>
</div>