@model MyCinemaV2.Models.ViewModel
@{
	ViewData["Title"] = Model.MovieModel.Name;
}
<div>
	<h4>Детали фильма</h4>
	<div>
		@Html.ActionLink("Back", "Index", new {Username = "root", Password = "root"}) |
		@Html.ActionLink("Edit", "UpdateMovie", new {id = Model.MovieModel.Id}) |
		@Html.ActionLink("Delete", "DeleteMovie", new {id = Model.MovieModel.Id})
	</div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MovieModel.Id)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MovieModel.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MovieModel.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MovieModel.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MovieModel.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MovieModel.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MovieModel.Duration)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MovieModel.Duration)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MovieModel.Thumbnail)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MovieModel.Thumbnail)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MovieModel.Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MovieModel.Price)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MovieModel.Genre)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MovieModel.Genre)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MovieModel.Status)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MovieModel.Status)
		</dd>
	</dl>
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				Sessions
			</th>
			<th><a asp-action="Create">Create New</a></th>@*--------------------TO DO--------------------*@
		</tr>
	</thead>
	<tbody>
		@if (Model.SessionsList != null && Model.SessionsList.Count > 0)
		{
			@foreach (SessionModel item in Model.SessionsList)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Session)
					</td>
					<td>
						@Html.ActionLink("Edit", "UpdateSession", new { id = item.Id }) |
						@Html.ActionLink("Delete", "DeleteSession", new { id = item.Id })@*--------------------TO DO--------------------*@
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td>NO DATA</td>
			</tr>
		}
	</tbody>
</table>