@model MyCinemaV2.Models.ViewModel
@{
	ViewData["Title"] = "Редактирование сеанса";
}
<h4>Редактирование сеанса</h4>
@Html.ActionLink("Back", "Movie", new {id = Model.SessionModel.Movie_Id})
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="UpdateSession">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="SessionModel.Movie_Id" class="control-label"></label>
				<input asp-for="SessionModel.Movie_Id" type="number" class="form-control" min="@Model.SessionModel.Movie_Id" max="@Model.SessionModel.Movie_Id" />
				<span asp-validation-for="SessionModel.Movie_Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SessionModel.Id" class="control-label"></label>
				<input asp-for="SessionModel.Id" type="number" class="form-control" min="@Model.SessionModel.Id" max="@Model.SessionModel.Id" />
				<span asp-validation-for="SessionModel.Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SessionModel.Session" class="control-label"></label>
				<input asp-for="SessionModel.Session" type="datetime-local" class="form-control" />
				<span asp-validation-for="SessionModel.Session" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Session ID</th>
			<th>Seat ID</th>
			<th>Seat number</th>
			<th>Status</th>
			<th>Редактирование места</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.SeatsList != null && Model.SeatsList.Count > 0)
		{
			@foreach (SeatModel seat in Model.SeatsList)
			{
				<form asp-action="UpdateSeat">
				<tr>
					<td>
						<input asp-for="@seat.Session_Id" type="number" class="form-control" min="@seat.Session_Id" max="@seat.Session_Id" />
						<span asp-validation-for="@seat.Session_Id" class="text-danger"></span>
					</td>
					<td>
						<input asp-for="@seat.Id" type="number" class="form-control" min="@seat.Id" max="@seat.Id" />
						<span asp-validation-for="@seat.Id" class="text-danger"></span>
					</td>
					<td>
							@seat.Seat_Number
					</td>
					<td>
						<input asp-for="@seat.Status" type="number" class="form-control" min="0" max="1" />
						<span asp-validation-for="@seat.Status" class="text-danger"></span>
					</td>
					<td>
						<input type="submit" value="Save" class="btn btn-primary" />
					</td>
				</tr>
				</form>
			}
		}
		else
		{
			<tr>
				<td>NO DATA</td>
			</tr>
		}
	</tbody>
</table>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}